<% attributes.reject(&:password_digest?).each do |attribute| -%>
<div class="panel panel-default">
  <div class="panel-heading"><%= attribute.human_name %></div>
  <div class="panel-body"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></div>
</div>

<% end -%>

<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-primary' %>
<%%= link_to 'Back', <%= plural_table_name %>_path, :class => 'btn btn-default' %>
