<!DOCTYPE html>
<html>
  <head>
    <title>Rails4Skeleton</title>
    <%= stylesheet_link_tag    'manage', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'manage', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="skin-blue">
    <%= render 'layouts/manage/navigation' %>
    <div class="wrapper row-offcanvas row-offcanvas-left">
      <%= render 'layouts/manage/sidebar' %>
      <!-- Right side column. Contains the navbar and content of the page -->
      <aside class="right-side">
      <%= render 'layouts/manage/content_navigation' %>
      <!-- Main content -->
      <section class="content">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </section><!-- /.content -->
      </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
  </body>
</html>
